form{border-style:solid;
  border-width:20px;
color:green;
}

H1{font-family:arial;
 text-align:center;
color:black;}
#first{text-align:center;}
.alignleft{float:left;}
.alignright{float:right;}
#bio{length:500;
width:50;}
.alignleftn{text-align:left;
color:green;}
.alignrightn{float:right;
color:green;}
#final{background-color:red;}